<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="../../css/style.css">-->
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="item1">
                    Header
                </div>
        <div class="row">
            <div class="col">
                <div class="item2">
                    <a href="../../index.html">Ir a Home</a>
                    <h2>
                        Mi Playlist
                    </h2>
                    <ul>
                        <li>
                            Esto es parte de una lista
                        </li>
                        <li>
                            Tema Random
                        </li>
                        <li>
                            Playlist Random
                        </li>
                    </ul>
                </div>
            </div>              
        </div>
        <div class="row">
            <div class="col">
                <div class="item3 main_container">
                    <div class="container">
                        <div class="item">
                            <a class="MusicButton" href="#">
                                <img width="80px" height="80px" src="../../assets/images/fondo01.png">
                            </a>
                        </div>
                        <div class="item">
                            <a class="MusicButton" href="#">
                                <img width="80px" height="80px" src="../../assets/images/fondo01.png">
                            </a>
                        </div>
                        <div class="item">
                            <a class="MusicButton" href="#">
                                <img width="80px" height="80px" src="../../assets/images/fondo01.png">
                            </a>
                        </div>
                        <div class="item">
                            <a class="MusicButton" href="#">
                                <img width="80px" height="80px" src="../../assets/images/fondo01.png">
                            </a>
                        </div>
                        <div class="item">
                            <a class="MusicButton" href="#">
                                <img width="80px" height="80px" src="../../assets/images/fondo01.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="item4 player">
                    Acá va a estar el player
                </div>
            </div>
        </div>
    </div>
</body>

</html>